table {
  width: 100%;
}

.search-form {
  min-width: 150px;
  width: 100%;
  padding-bottom: 15px;
}

.search-input {
  width: 100%;
}

.table-container {
  position: relative;
}

.spinner-container {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

tr.trade-details-row {
  height: 0;
}

.trade-details {
  overflow: hidden;
  display: flex;
}

.mat-column-indicator {
  width: 5px;
  min-width: 5px;
  padding: 0;
}

.opened-trade {
  .indicator {
    background-color: orange;
  }

  .text-indicator {
    color: orange;
  }
}

.closed-trade {
  .indicator {
    background-color: green;
  }

  .text-indicator {
    color: green;
  }
}

.created-trade {
  .indicator {
    background-color: #ffea00;
  }

  .text-indicator {
    color: #ffea00;
  }
}

.failed-trade {
  .indicator {
    background-color: red;
  }

  .text-indicator {
    color: red;
  }
}
